body{
    background-image: url("https://www.apple.com/la/ipad-pro/images/overview/hero/hero_combo__fcqcc3hbzjyy_large.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.img-category{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

